{% extends 'disks/base.html' %}

{% block title %}Liste des Albums{% endblock %}

{% block content %}
    <div class="container pt-2 my-2 bg-primary text-white">
    <h1>Liste des Albums</h1>
    </div>
      
    <form action="" method="get">
        <input type="text" name="search" value="{{ query }}" placeholder="Recherche par titre...">
        <button type="submit">Rechercher</button>
    </form>
    <ul>
        {% for album in albums %}
            <li><a href="{% url 'album_detail' album.id %}">{{ album.title }} - {{ album.artist.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}